---
---

@mixin transition($params) {
	transition: $params;
	-ms-transition: $params;
	-o-transition: $params;
	-moz-transition: $params;
	-webkit-transition: $params;
}
@mixin transform($params) {
	transform: $params;
	-ms-transform: $params;
	-o-transform: $params;
	-moz-transform: $params;
	-webkit-transform: $params;
}

$banner-height: 20px;
$banner-font-size: 15px;
$banner-width: 150px;
$banner-margin: 100px;
$banner-inset: 50px;
$banner-offset: -20px;

body {
	background: white;
	margin: 0;
	> h1 {
		position: absolute;
		z-index: 2;
		font-size: 90px;
		padding: 0 0 30px 50px;
		margin: 0;
		> a {
			color: white;
			text-decoration: none;
			text-shadow: 0 5px 10px black;
		}
	}
	> nav {
		/* TODO - get headline image */
		margin: 0;
		padding: 150px 0 0 0;
		font-family: Heebo, Arial, Helvetica, sans-serif;
		> ul {
			list-style: none;
			background: white;
			margin: 0;
			padding: 10px 50px;
			> li {
				display: inline-block;
				&:hover {
					> a {
						background: black;
						color: white;
					}
				}
				> a {
					padding: 10px;
					color: black;
					text-decoration: none;
				}
			}
		}
		font-size: 20px;
		text-align: left;
		background: url('images/textured_paper.png') #ccc;
		box-shadow: 0 5px 15px black;
	}
	font-size: 0;
	> * { font-size: 1rem }
}

h1 {
	font-family: "Neuton", serif;
	font-weight: bold;
}

section {
	padding: 30px 0;
	margin: 0;
	position: relative;
	h1 {
		color: black;
		font-size: 70px;
		margin: 0;
		position: absolute;
		left: 50px;
		top: 10px;
		width: 320px;
	}

	&#footer {
		background: white;
		text-align: center;
		img, p {
			@include transition(all 0.6s);
		}
		.over, img.none, p#otherwise.none {
			opacity: 1;
		}
		img.other {
			opacity: 0.5;
		}
		div {
			position: relative;
		}
		p {
			position: absolute;
			top: 20px;
			left: 0;
			right: 0;
			margin: 0 25% 50px 25%;
			padding-bottom: 35px;
			font-family: "Poly", serif;
			font-size: 20px;	
			opacity: 0;
		}
		#uom {
			margin-bottom: 5px;
			margin-left: 20px;
			margin-right: 15px;
		}
		#leeds {
			margin-bottom: 3px;
		}
	}

	&.boxes {
		display: inline-block;
		text-align: center;
		width: 100vw;
		position: relative;
		overflow: hidden;

		> h1 {
			opacity: 0;
			font-size: 0;
			margin: 0;
			padding: 0;
		}
		> div:not(.before) {
			background: #fff;
			@include transition(all 0.5s);
			border: 11px solid #fff;
			width: 350px; height: 250px;
			overflow: hidden;
			margin: 15px;
			padding: 0;
			position: relative;
			display: inline-block;
			box-shadow: 0 5px 10px black;
			> .ribbon {
				opacity: 0;
				@include transition(all 0.5s);
				position: relative;
				float: right;
				margin-right: 16px;
				top: -20px;
				width: 0px;
				height: 37px;
				border: 24px solid #55f;
				border-bottom: 24px solid transparent !important;
				z-index: 10;
				/* Colours */
				&.github {
					border-color: #a00;
				}
				&.android {
					border-color: #080;
				}
				&.mashable {
					border-color: #00aeef;
				}
				/* stitching */
				&:before {
					position: absolute;
					top: -24px;
					left: -22px;
					width: 42px;
					height: 82px;
					border-left: 1px dashed yellow;
					border-right: 1px dashed yellow;
					z-index: 11;
					content: '';
				}
				/* logos */
				&:after {
					position: absolute;
					top: -7px;
					width: 32px;
					left: -16px;
					content: '';
				}
				&.github:after {
					top: -4px;
					height: 32px;
					background: url('images/github/GitHub-Mark-Light-32px.png');
				}
				&.android:after {
					top: -7px;
					height: 37px;
					background: url('images/android/32.png');
				}
				&.mashable:after {
					top: -7px;
					height: 37px;
					content: 'M';
					color: white;
					font-family: sans-serif;
					font-weight: bold;
					font-size: 32px;
				}
			}
			&::before {
				position: absolute;
				top: $banner-inset + $banner-offset - $banner-height / 2;
				left: $banner-inset - $banner-margin - $banner-width / 2;
				display: block;
				color: white;
				height: $banner-height;
				width: $banner-width;
				text-align: center;
				@include transform(rotate(-45deg));
				z-index: 100;
				padding: 0 $banner-margin;
				font-family: sans-serif;
				font-size: $banner-font-size;
				line-height: $banner-height;
				@include transition(all 0.5s);
				opacity: 0;
				cursor: pointer;
				pointer-events: none;
			}
			&.webkit::before {
				background: #03d;
				content: 'Best in Webkit';
			}
			&.moz::before {
				background: #fa0;
				content: 'Best in Firefox';
			}
			&.retina::before {
				background: white;
				color: black;
				content: 'Best on Retina';
			}
			> a > img, > img {
				position: absolute;
				left: 0; top: 0;
				border: none;
				z-index: 1;
				@include transform(none);
				@include transition(all 0.5s);
			}
			> p, > form {
				position: absolute;
				left: 0px; bottom: -30px;
				opacity: 0;
				font-family: "Poly", serif;
				font-size: 17px;
				text-align: left;
				width: 290px;
				padding: 20px; margin: 10px;
				background-color: rgba(255,255,255,0.9);
				z-index: 2;
				@include transition(all 0.5s);
				a:hover {
					color: #800;
				}
			}
			&:hover {
				border-color: #eef;
				background: #eef;
				> a > img, > img {
					@include transform(rotate(-5deg) scale(1.2, 1.2));
				}
				> p, > form {
					bottom: 0px;
					opacity: 1;
				}
				> .ribbon {
					opacity: 1;
					top: -5px;
					@include transition(all 0.3s);
					&:hover {
						top: 0;
					}
				}
				&::before {
					top: $banner-inset - $banner-height / 2;
					left: $banner-inset - $banner-margin - $banner-width / 2;
					opacity: 1;
				}
			}
			a.feature {
				font-weight: bold;
				color: #00f;
				text-decoration: underline;
				&:hover {
					color: #f00;
				}
			}
		}
	}

}

@media (max-width: 639px) {
	body {
		> h1 {
			font-size: 14vw;
			padding-left: 6vw;
		}
		nav {
			padding-top: 24vw;
		}
	}
	section {
		li {
			font-size: 20px;
		}
		a::before {
			display: none;
		}
	}
}
@media (pointer: coarse) {
	ul a {
		opacity: 1;
	}
}

.parallax {
	.before {
		position: absolute;
		left: 0;
		top: 0;
		content: ' ';
		width: 100vw;
		height: calc(50vh + 50%);
		z-index: -1;
		background-size: cover;
		background-color: #888;
	}
	&.maths .before {
		background-image: url('backgrounds/maths.jpg');
	}
	&.game .before {
		background-image: url('backgrounds/games.jpg');
	}
	&.app .before {
		background-image: url('backgrounds/apps.jpg');
	}
	&.misc .before {
		background-image: url('backgrounds/misc.jpg');
	}
}

.fab {
	font-size: 0;
	background-color: #f00;
	background-size: 36px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border-radius: 100%;
	position: fixed;
	z-index: 100;
	width: 72px;
	height: 72px;
	bottom: 36px;
	right: 36px;
	box-shadow: 2px 4px 12px black;
	&:before {
		background: white;
		font-size: 36px;
		position: fixed;
		bottom: 36px;
		right: 128px;
		transform: translate(2em, 0) scale(0.5);
		opacity: 0;
		border-radius: 24px;
		padding: calc((72px - 1em) / 2);
		line-height: 1;
		font-family: Neuton;
		transition: all 300ms;
		box-shadow: 2px 4px 12px black;
	}
	&.email {
		background-image: url('images/mail.png');
		&:before {
			content: 'andrew@andrewt.net'
		}
	}
	&:hover {
		background-color: #a00;
		&:before {
			transform: none;
			opacity: 1;
		}
	}
}

/* EASTER EGG! */

.konami, .konami *, .konami *:before {
	font-family: 'Press Start 2P' !important;
	border-radius: 0 !important;
	@include transform(none !important);
	@include transition(none !important);
	box-shadow: none !important;
	text-shadow: none !important;
}
.konami {
	p {
		font-size: 14px !important;
	}
	h1 {
		font-size: 48px !important;
	}
	li {
		font-size: 32px !important;
	}
}