body {
	overflow: hidden;
}

.yosemite-glass {
	position: absolute;
	z-index: 2;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: -3px 0 5px 5px black;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
}

.yosemite-clone {
	filter: blur(50px);
	-webkit-filter: blur(50px);
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
}

.yosemite-body {
	box-sizing: border-box;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}