// Coolors Exported Palette - coolors.co/1f2041-4b3f72-ffc857-119da4-19647e

// HSL
$background: #ffffff;
$text: #000000;
$main-accent: hsla(40, 100%, 67%, 1);
$accent-1-light: hsla(183, 81%, 35%, 1);
$accent-1-dark: hsla(195, 67%, 30%, 1);
$accent-2-light: hsla(254, 29%, 35%, 1);
$accent-2-dark: hsla(238, 35%, 19%, 1);

$text-on-main-accent: #000000;
$text-on-accent-1-light: #ffffff;
$text-on-accent-1-dark: #ffffff;
$text-on-accent-2-light: #ffffff;
$text-on-accent-2-dark: #ffffff;

$header-on-main-accent: $accent-2-light;
$header-on-accent-1-light: #main-accent;
$header-on-accent-1-dark: #main-accent;
$header-on-accent-2-light: #main-accent;
$header-on-accent-2-dark: #main-accent;

body {
	background: $background;
	color: $text;
}

// RGB
// $accent-1-dark: rgba(31, 32, 65, 1);
// $accent-1-light: rgba(75, 63, 114, 1);
// $main-accent: rgba(255, 200, 87, 1);
// $accent-2-light: rgba(17, 157, 164, 1);
// $accent-2-dark: rgba(25, 100, 126, 1);
