<!DOCTYPE html>
<html>
<head>
	<title>andrewt.net</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script type="text/javascript" src="/js/footnote.js"></script>
</head>
<body>
	<header class="banner">
		<h1><a href="http://www.andrewt.net">Andrew Taylor</a></h1>
		<nav class="tabs">
			<ul>
			{% for link in site.pages %}
			{% if link.title %}
				<li><a href="{{ link.url }}" class="{% if link.url == page.url %}current{% endif %}">{{ link.title }}</a></li>
			{% endif %}
			{% endfor %}
			</ul>
		</nav>
	</header>
	<section>
		{{content}}
	</section>
	<footer class="banner">
		<p>
			Copyright &copy; 2016 Andrew Taylor
		</p>
		<ul class="links">
			<li><a href="http://twitter.com/Andrew_Taylor">Twitter</a></li>
			<li><a href="mailto:andrew@andrewt.net">Email</a></li>
			<li><a href="https://github.com/andrew-t">GitHub</a></li>
			<!--li><a href="mailto:andrew@andrewt.net">YouTube</a></li-->
			<li class="right"><a href="javascript:var strength=strength?strength*2:0.05,time=time||2,loop=loop||false,ivl,c=document.getElementsByTagName('*'),fn=function(){for(var i=0;i<c.length;++i){for(var m='',e=c[i],f=[e.offsetWidth,e.offsetHeight,100,1],x=0;x<4;++x)for(var y=0,t,s=strength/f[x];y<4;++y)m+=(m?', ':'')+((Math.random()*s-s/2)+(x==y));t='transform '+time+'s';e.style.transition=t;e.style.mozTransition='-moz-'+t;e.style.webkitTransition='-webkit-'+t;e.style.transform=e.style.mozTransform=e.style.webkitTransform='matrix3d('+m+')';}};if(ivl)clearInterval(ivl);if(loop)ivl=setInterval(fn,time*1000);fn();" title="Drag this into your bookmark bar and use it anywhere.">Warp</a></li>
		</ul>
	</footer>
</body>
</html>